@import 'src/styles/mixins.scss';

.container {
display: flex;
justify-content: space-between
}

.title {
  @include resetText;
  @include forPrimaryText;
  text-transform: uppercase;
}

.hideCheckbox {
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.hideCheckboxRotate {
  transform: rotate(180deg);
}


