@import 'src/styles/mixins.scss';

.marketplace {
  background: $colorBeige url('src/assets/images/decor/arc.svg') center top / 97% 50% repeat-y;
  color: $colorBlack;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 120px;
  box-sizing: border-box;
  padding: 0 calc((100vw - 1320px) / 2) 220px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 52px;
}

.sectionTitle {
  @include resetText;
  @include textSectionTitle;
}

.categories {
  @include resetList;
  display: flex;
  align-items: center;
  gap: 20px;
}

.category {
  width: 315px;
  height: 202px;
  overflow: hidden;

  &:hover {
    .categoryOverlay {
      transform: scale(1.25);
    }
  }

  &:first-of-type {
    .categoryOverlay {
      background-image: url('src/assets/images/bg/category1.jpg');
    }
  }
  &:nth-of-type(2) {
    .categoryOverlay {
      background-image: url('src/assets/images/bg/category2.jpg');
    }
  }
  &:nth-of-type(3) {
    .categoryOverlay {
      background-image: url('src/assets/images/bg/category3.jpg');
    }
  }
  &:last-of-type {
    .categoryOverlay {
      background-image: url('src/assets/images/bg/category4.jpg');
    }
  }
}

.categoryOverlay {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all .5s;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(white, .6);
    backdrop-filter: blur(5px);
    z-index: 0;
  }
}

.categoryTitle {
  @include resetText;
  @include textSectionTitle;
  font-weight: 700;
  z-index: 5;
}

.grid {
  @include resetList;
  max-width: 1320px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 238px);
  grid-template-rows: min-content;
  grid-auto-rows: min-content;
  gap: 64px 32px;
  justify-content: center;
}
