@import 'src/styles/mixins.scss';

.marketplace {
  max-width: 1440px;
  box-sizing: border-box;
  padding: 120px 60px 220px;
  margin: 0 auto;
}

.banner {
  width: 100%;
  height: 584px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  position: relative;
}

.bannerSlide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
  will-change: opacity;
  transition: opacity 1s ease;
  opacity: 0;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    @include setBlur;
  }
}

.active {
opacity: 1;
}

.bannerTitle {
  @include resetText;
  @include textPrimaryBold48;
  color: white;
  max-width: 380px;
}

.bannerBlock {}

.bannerSubtitle {}

.bannerText {}

.bannerFilters {}

.section {}

.sectionTitle {}

.grid {}

.category {}
