@import 'src/styles/mixins.scss';
@import 'src/styles/variables.scss';

.aboutPicture {
  width: 426px;
  padding: 72px 172px 0 132px;
}

.container {
  display: flex;
  gap: 8px;
  cursor: pointer;
}

.buttonBack {
  display: flex;
  justify-content: center;
  align-items: center;
}

.back {
  @include resetText;
  @include textSecondaryRegular14;
  text-transform: uppercase;
}

.underline {
  border-bottom: $borderGrey;
}

.name {
  @include resetText;
  @include textSectionTitle;
  padding: 25px 0 8px;
}

.author {
  @include resetText;
  @include forSecondaryText20;
  padding: 0 0 31px;
}

.params {
  @include resetText;
  @include forSecondaryText16;
  color: $colorGray;
}

.description {
  @include resetText;
  @include textSecondaryRegular14;
  color: $colorGray;
  padding: 24px 0 54px;
}

.containerDeliveryButtons {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding-bottom: 26px;
}

.containerDelivery {
  display: flex;
  gap: 7px;
}

.price {
  @include resetText;
  @include textSecondarySemiBold24;
  padding: 34px 0 12px;
}

.delivery {
  @include resetText;
  @include textSecondaryRegular14;
  color: $colorGray;
}

.buttons {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
