@import 'src/styles/mixins.scss';
@import 'src/styles/variables.scss';

.wrapper {
  display: flex;
  position: relative;
  background-color: $colorBeige;
}

.background {
  position: absolute;
  bottom: -148px;
  left: 15px;
  height: 862px;
  width: 1411px;
  background-image: url('./../../assets/images/icons/arc.svg');
  background-repeat: no-repeat;
}

.container {
  height: 100vh;
  padding: 48px 60px;
  box-sizing: border-box;
}

.image {
  margin: 86px 0 0;
  transform: rotate(6deg);
}
