@import 'src/styles/mixins.scss';
@import 'src/styles/variables.scss';

.registration {
  width: 100%;
  height: 100vh;
  background: rgba(white, 0.2) url('src/assets/images/bg/authorization.jpg') top center / cover
    no-repeat;
  position: relative;
}

.blur {
  @include setBlur;
  width: 100%;
  height: 100vh;
}

.back {
  position: absolute;
  top: 76px;
  left: 76px;
  z-index: 3;
}

.title {
  @include resetText;
  @include textPrimaryBold52;
  margin: 32px 0;
  text-align: center;
}

.buttons {
  margin: 32px auto 0;
  width: 100%;
  padding: 4px 133.5px;
  display: flex;
  gap: 8px;
  background-color: $lightWhite;
  box-sizing: border-box
}

.button {
  @include resetText;
  @include textPrimaryBold14;
  @include textSecondaryRegular18;
  display: block;
  padding: 13px 12px;
  border: none;
  background-color: inherit;
}

.popup {
  margin: 0 auto 0;
  padding: 60px 0 0;
  width: 480px;
  color: $colorWhite;
}

.link {
  @include resetLink;
}

