@import 'src/styles/mixins.scss';

.container {
  box-sizing: border-box;
  padding: 120px 0 120px 60px;
  position: relative;
}

.title {
  @include resetText;
  @include textSectionTitle;
  margin-bottom: 38px;
}

.list {
  @include resetList;
  display: flex;
  align-items: flex-start;
  gap: 36px;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.item {
  &:nth-of-type(odd) {
    .picture {
      height: 15.834vw;
    }
  }

  &:nth-of-type(even) {
    .picture {
      height: 20vw;
    }

    &:last-of-type {
      padding-right: 60px;
    }
  }

  &:hover {
    .pic {
      transform: scale(1.25);
    }
  }
}

.link {
  @include resetLink;
}

.picture {
  width: 16.112vw;
  overflow: hidden;
  margin-bottom: 20px;
}

.pic {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: top center;
  transition: transform 0.6s ease;
  cursor: pointer;
}

.name {
  @include resetText;
  @include textSecondarySemiBold14;
  margin-bottom: 8px;
}

.date {
  @include resetText;
  @include textSecondaryRegular12;
}

.button {
  border: none;
  position: absolute;
  background-color: transparent;
  top: 42%;
  z-index: 5;
  cursor: pointer;
}

.buttonLeft {
  left: 70px;
  color: linear-gradient(
    93.55deg,
    rgba(15, 15, 15, 0.4) 2.92%,
    rgba(138, 138, 138, 0.4) 120.16%
  );
}

.buttonRight {
  right: 35px;
  color: linear-gradient(
    88.47deg,
    rgba(29, 29, 29, 0.4) -3.48%,
    rgba(138, 138, 138, 0.4) 137.1%
  );
}

.shadow {
  position: absolute;
  top: 28%;
  width: 632px;
  height: 370px;
  z-index: 2;
}

.shadowLeft {
  left: 0;
  background: linear-gradient(
    90.98deg,
    rgba(255, 255, 255, 0.6) 0.74%,
    rgba(255, 255, 255, 0) 46.14%
  );
}

.shadowRight {
  right: 0;
  background: linear-gradient(
    270.32deg,
    rgba(255, 255, 255, 0.6) -3.54%,
    rgba(255, 255, 255, 0) 39.84%
  );
}
