@import 'src/styles/mixins.scss';
@import 'src/styles/variables.scss';

.aboutAuthor {
  width: 100%;
  padding: 120px 172px 120px 132px;
  display: flex;
  gap: 132px;
  box-sizing: border-box;
  background-color: inherit;
}

.container {
  width: 648px;
}

.photo {
  width: 426px;
  height: 426px;
}

.author {
  @include resetText;
  @include forSecondaryText20;
  color: $colorGray;
}

.name {
  @include resetText;
  @include textSectionTitle;
  padding: 20px 0 32px;
}

.description {
  @include resetText;
  @include forSecondaryLine20
}
