@import 'src/styles/mixins.scss';

.marketplace {
  width: 100%;
  box-sizing: border-box;
  padding: 120px 60px 380px;
  margin: 0 auto;
  background-color: $colorBeige;
}

.headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 56px;
}

.title {
  @include resetText;
  @include textSectionTitle;
}

.link {
  @include resetLink;
  @include textSecondarySemiBold24;
}

.grid {
  @include resetList;
  display: grid;
  grid-template-columns: repeat(auto-fit, 238px);
  grid-template-rows: min-content;
  grid-auto-rows: min-content;
  gap: 166px 32px;
  justify-content: center;
}
