$fontPrimary: 'Cochin', 'Times New Roman', Georgia, serif;
$fontSecondary: 'Inter', Helvetica, Arial, sans-serif;

$colorBlack: #020202;
$colorSuccess: #79F19B;
$colorWarning: #FFD882;
$colorError: #FF7A7A;

$colorMenuActive: #D2D1D0;

$borderLight: 1px solid rgba(white, .8);
