@import 'src/styles/mixins.scss';

.container {
  width: 250px;
  height: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 36px;
  box-sizing: border-box;
  box-shadow: $shadow;
  background-color: $colorWhite;
}
