@import 'src/styles/mixins.scss';

.link {
  @include resetLink;
  display: block;
}

.art {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: $colorBlack;

  &:hover {
    .pic {
      transform: scale(1.25);
    }
  }
}

.hover {
  transition: all 500ms ease-in-out;

  &:hover {
    width: 272px;
    height: 425px;
    box-sizing: border-box;
    padding: 20px 20px 12px;
    box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, .2);
    transition: all 800ms cubic-bezier(.19, 1, .22, 1);

    & .picture {
      width: 232px;
      height: 264px;
    }
  }
}

.picture {
  max-width: 238px;
  min-width: 203px;
  // max-height: 254px;
  // min-height: 216px;
  overflow: hidden;
}

.pic {
  width: 100%;
  aspect-ratio: 47/50;
  display: block;
  object-fit: cover;
  object-position: center;
  transition: transform .6s ease;
  cursor: pointer;
}

.title {
  @include resetText;
  @include textPrimaryBold16;
}

.author, .info {
  @include resetText;
  @include textPrimaryMedium16;
  color: $colorGray;
}

.priceBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price {
  @include resetText;
  @include textSecondarySemiBold16;
}

.cart {
  padding: 6px;

  & * {
    width: 20px;
    height: 20px;
    display: block;
    stroke: $colorBlack;
  }

  &:hover * {
    stroke-width: 3;
  }

  &:active {
    background-color: rgba(white, .1);
  }
}
