@import 'src/styles/mixins.scss';
@import 'src/styles/variables.scss';

.menu {
  @include resetList;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 12px;
  width: 312px;
}

.item {
  padding: 12px 16px;
}

.link {
  @include resetLink;
  @include textMenu;

  &:hover {
    color: $colorMenuActive;
  }
}
