@import 'src/styles/mixins.scss';
@import 'src/styles/variables.scss';


.navBar {
  width: 100%;
  height: 120px;
  box-sizing: border-box;
  background-color: $colorBeige;
}

.container {
  display: flex;
  padding: 48px 60px;
  gap: 4px;
}

.text {
  @include resetText;
  @include textPrimaryBold14;
  display: flex;
  justify-content: center;
  align-items: center
}

.link {
  @include resetLink;
}

.image {
  padding: 6px 9px;
}
