@import 'src/styles/mixins.scss';

.container {
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  box-shadow: $shadow;
  box-sizing: border-box;
  background-color: $colorWhite;
}

.mounths {
  @include resetText;
  @include textPrimaryBold20;
  text-align: center;
}

.price {
  @include resetText;
  @include textPrimaryBold48;
  text-align: center;
}

.info {
  @include resetText;
  @include textSecondaryRegular18;
  text-align: center;
}

.short {
  width: 247px;
}
