@import 'src/styles/variables.scss';

.section {
  width: 100%;
}

.intro {
  height: 100vh;
  color: white;
  margin-top: -100px;
  position: relative;
}

.events {
  background-color: $colorBeige;
}

.appraisal {
  background: url('src/assets/images/bg/appraisal.jpg') center / cover no-repeat;
  color: white;
}

.marketplace {
  background-color: $colorBeige;
}
