@import 'src/styles/mixins.scss';

.intro {
  width: 100%;
  height: 100vh;
  background: url('src/assets/images/bg/intro1.jpg') top -100px left / 113% auto no-repeat;
  color: white;
  margin-top: -100px;
}

.overlay {
  height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: 41.6% 24.6% 21.9% 11.9%;
  grid-template-rows: 40% 60%;
  padding-top: 100px;
  border-top: $borderLight;
  border-left: $borderLight;

  & > div {
    border-bottom: $borderLight;
    border-right: $borderLight;
  }
}

.content {
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 32px;
  padding: 0 60px;
  box-sizing: border-box;
}

.title {
  @include resetText;
  @include textPrimaryBold48;
  max-width: 484px;
}

.blur {
  @include setBlur;
}
