@import 'src/styles/mixins.scss';
@import 'src/styles/variables.scss';

.registration {
  width: 100%;
  height: 100vh;
  background: rgba(white, 0.2) url('src/assets/images/bg/authorization.jpg') top center / cover
    no-repeat;
}

.blur {
  @include setBlur;
  width: 100%;
  height: 100vh;
}

.button {
  // @include setBlur;
  // width: 100%;
  // height: 100%;
}

.popup {

}
